<a href="https://colab.research.google.com/github/ayberkuslu/MLProject/blob/master/rfc_cleaning_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [190]:
# if you are preprocessing test file, change test = True
# Feature selection algorithm will be used in evaluation notebook.

# input-output: test.csv -> rfc_clean_test.csv
# input-output: train.csv + labels.csv -> rfc_clean_train.csv

In [191]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

# New Section

In [192]:
test = False # if it is True, then you are preprocessing test file.
true_days_false_years = True # if True, process date as days, else calculate as years.

labels_fpath = "inputs/labels.csv"

if test == True:
    input_fpath = "inputs/test.csv"
    output_fpath = "rfc_clean_test.csv"
    data = pd.read_csv(input_fpath)
else:
    input_fpath = "inputs/train.csv"
    output_fpath = "rfc_clean_train.csv"
    data = pd.read_csv(input_fpath)
    data_values = pd.read_csv(labels_fpath)
    data = data_values.merge(data, on='id')

##status_group-functional,non-functional or needs repair

amount_tsh – Total static head (amount water available to waterpoint)

date_recorded – The date the row was entered

funder – Who funded the well

gps_height – Altitude of the well

installer – Organization that installed the well

longitude – GPS coordinate

latitude – GPS coordinate

wpt_name – Name of the waterpoint if there is one

num_private -No description

basin – Geographic water basin

subvillage – Geographic location

region – Geographic location

region_code – Geographic location (coded)

district_code – Geographic location (coded)

lga – Geographic location

ward – Geographic location

population – Population around the well

public_meeting – True/False

recorded_by – Group entering this row of data

scheme_management – Who operates the water point

scheme_name – Who operates the water point

permit – If the water point is permitted

construction_year – Year the water point was constructed

extraction_type – The kind of extraction the water point uses

extraction_type_group – The kind of extraction the water point uses

extraction_type_class – The kind of extraction the water point uses

management – How the water point is managed

management_group – How the water point is managed

payment – What the water costs

payment_type – What the water costs

water_quality – The quality of the water

quality_group – The quality of the water

quantity – The quantity of water

quantity_group – The quantity of water

source – The source of the water

source_type – The source of the water

source_class – The source of the water

waterpoint_type – The kind of waterpoint

waterpoint_type_group – The kind of waterpoint

In [193]:
#data.isnull().sum()
#data.population.min()
data['gps_height'].replace(0.0, np.nan, inplace=True)
data['population'].replace(0.0, np.nan, inplace=True)
data['amount_tsh'].replace(0.0, np.nan, inplace=True)
data.isnull().sum()

id                           0
status_group                 0
amount_tsh               41639
date_recorded                0
funder                    3635
gps_height               20438
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population               21381
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [194]:
data.groupby(['region','permit']).size()

region         permit
Arusha         False      255
               True      2650
Dar es Salaam  False      777
Dodoma         False     1212
               True       989
Iringa         False     2117
               True      3174
Kagera         False      795
               True      2521
Kigoma         False     1160
               True      1656
Kilimanjaro    False      445
               True      3796
Lindi          False      733
               True       813
Manyara        False       77
               True      1506
Mara           False      604
               True       998
Mbeya          False     1399
               True      2134
Morogoro       False       39
               True      3967
Mtwara         False      419
               True      1311
Mwanza         False      127
               True      2975
Pwani          False     1105
               True      1530
Rukwa          False      646
               True      1162
Ruvuma         False      840
               True      1798
Shinyanga      False     2618
               True      2364
Singida        False      321
               True       805
Tabora         False      634
               True      1325
Tanga          False     1169
               True      1378
dtype: int64

In [195]:
data["gps_height"].fillna(data.groupby(['region', 'district_code'])["gps_height"].transform("mean"), inplace=True)
data["gps_height"].fillna(data.groupby(['region'])["gps_height"].transform("mean"), inplace=True)
data["gps_height"].fillna(data["gps_height"].mean(), inplace=True)
data["population"].fillna(data.groupby(['region', 'district_code'])["population"].transform("median"), inplace=True)
data["population"].fillna(data.groupby(['region'])["population"].transform("median"), inplace=True)
data["population"].fillna(data["population"].median(), inplace=True)
data["amount_tsh"].fillna(data.groupby(['region', 'district_code'])["amount_tsh"].transform("median"), inplace=True)
data["amount_tsh"].fillna(data.groupby(['region'])["amount_tsh"].transform("median"), inplace=True)
data["amount_tsh"].fillna(data["amount_tsh"].median(), inplace=True)
data.isnull().sum()

id                           0
status_group                 0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [196]:
print(data.latitude.max()-data.latitude.min())
print(data.longitude.max()-data.longitude.min())

11.64944016
40.34519307

In [197]:
features=['amount_tsh', 'gps_height', 'population']
scaler = MinMaxScaler(feature_range=(0,20))
data[features] = scaler.fit_transform(data[features])
data[features].head(20)
data.isnull().sum()

id                           0
status_group                 0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [198]:
data['longitude'].replace(0.0, np.nan, inplace=True)
data['latitude'].replace(0.0, np.nan, inplace=True)
data['construction_year'].replace(0.0, np.nan, inplace=True)

In [199]:
data.groupby(['district_code', 'region','construction_year']).size()

district_code  region         construction_year
1              Arusha         1980.0                 2
                              1990.0                23
                              2000.0               137
                              2010.0                24
               Dar es Salaam  1970.0                24
                              1990.0                 8
                              2000.0                11
                              2010.0                50
               Iringa         1964.0                 5
                              1972.0                 3
                              1974.0                 6
                              1976.0                 2
                              1978.0                13
                              1981.0                 1
                              1982.0                25
                              1983.0                44
                              1984.0                46
                              1985.0                48
                              1986.0                 5
                              1987.0                38
                              1988.0                 5
                              1989.0                30
                              1990.0                50
                              1991.0                 8
                              1992.0                74
                                                  ...
62             Lindi          2007.0                 3
                              2008.0                 6
                              2009.0                 2
                              2010.0                10
                              2011.0                 6
                              2012.0                 9
63             Mtwara         1976.0                17
                              1977.0                 1
                              1978.0                28
                              1979.0                 1
                              1981.0                 1
                              1985.0                 2
                              1986.0                13
                              1989.0                 1
                              1999.0                 2
                              2001.0                 1
                              2004.0                 1
                              2005.0                 9
                              2006.0                 4
                              2007.0                 7
                              2008.0                23
                              2009.0                14
                              2010.0                17
                              2011.0                 2
                              2012.0                 8
Length: 2264, dtype: int64

In [200]:
data["latitude"].fillna(data.groupby(['region', 'district_code'])["latitude"].transform("mean"), inplace=True)
data["longitude"].fillna(data.groupby(['region', 'district_code'])["longitude"].transform("mean"), inplace=True)
data["longitude"].fillna(data.groupby(['region'])["longitude"].transform("mean"), inplace=True)
data["construction_year"].fillna(data.groupby(['region', 'district_code'])["construction_year"].transform("median"), inplace=True)
data["construction_year"].fillna(data.groupby(['region'])["construction_year"].transform("median"), inplace=True)
data["construction_year"].fillna(data.groupby(['district_code'])["construction_year"].transform("median"), inplace=True)
data["construction_year"].fillna(data["construction_year"].median(), inplace=True)
print(data.isnull().sum())

id                           0
status_group                 0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [201]:
#if water point is old, it is highly likely to be non functional or needs repair.
#New features were created namely number of days and number of months water point is operational.
print(data.date_recorded.head(5))
print(data.construction_year.head(5))

0    2011-03-14
1    2013-03-06
2    2013-02-25
3    2013-01-28
4    2011-07-13
Name: date_recorded, dtype: object
0    1999.0
1    2010.0
2    2009.0
3    1986.0
4    2003.0
Name: construction_year, dtype: float64

In [202]:
# date preprocessing
# using as passing years
if true_days_false_years:
    # using as passing days.
    data.date_recorded = pd.datetime(2013, 12, 3) - pd.to_datetime(data.date_recorded)
    # date_recorded dropped in here.
    data.columns = ['days_since_recorded' if x=='date_recorded' else x for x in data.columns]
    data.days_since_recorded = data.days_since_recorded.astype('timedelta64[D]').astype(int)
    print(data.days_since_recorded.describe())
else:
    data['date_recorded'] = pd.to_datetime(data['date_recorded'])
    data.date_recorded.head(5)
    print(data.date_recorded.dt.year.head(5))
    print(data.construction_year.head(5))
    data['operational_year'] = data.date_recorded.dt.year - data.construction_year
    data.operational_year.head(5)
    data.drop('data_recorded', axis=1, inplace=True)

count    59400.000000
mean       613.616970
std        334.216374
min          0.000000
25%        297.000000
50%        419.000000
75%        977.000000
max       4068.000000
Name: days_since_recorded, dtype: float64

In [203]:
#DATA Cleaning
waste_features=['wpt_name','num_private','subvillage','region_code','recorded_by']
#since region and region_code are representing the same thing
data.drop(waste_features,axis=1,inplace=True)
print(data.groupby(['management', 'management_group']).size() )
data.drop('management_group',axis=1,inplace=True)

management        management_group
company           commercial            685
other             other                 844
other - school    other                  99
parastatal        parastatal           1768
private operator  commercial           1971
trust             commercial             78
unknown           unknown               561
vwc               user-group          40507
water authority   commercial            904
water board       user-group           2933
wua               user-group           2535
wug               user-group           6515
dtype: int64

In [204]:
print(data.groupby(['extraction_type_group','extraction_type_class','extraction_type']).size()   )   
data.drop('extraction_type_group',axis=1,inplace=True)

extraction_type_group  extraction_type_class  extraction_type
afridev                handpump               afridev                       1770
gravity                gravity                gravity                      26780
india mark ii          handpump               india mark ii                 2400
india mark iii         handpump               india mark iii                  98
mono                   motorpump              mono                          2865
nira/tanira            handpump               nira/tanira                   8154
other                  other                  other                         6430
other handpump         handpump               other - mkulima/shinyanga        2
                                              other - play pump               85
                                              other - swn 81                 229
                                              walimi                          48
other motorpump        motorpump              cemo                            90
                                              climax                          32
rope pump              rope pump              other - rope pump              451
submersible            submersible            ksb                           1415
                                              submersible                   4764
swn 80                 handpump               swn 80                        3670
wind-powered           wind-powered           windmill                       117
dtype: int64

In [205]:
data.drop('extraction_type_class',axis=1,inplace=True)

In [206]:
data.groupby(['scheme_management', 'scheme_name']).size()

scheme_management  scheme_name
Company            BFFS                              1
                   Bagamoyo Wate                    60
                   Bagamoyo wate                   210
                   Borehole                          1
                   Borehole drilling project         1
                   Bulamba piped scheme              2
                   Burieni water supply              1
                   Doe water supply                  3
                   EKTM 2 water  supply              1
                   EKTM 2 water suply               25
                   EKTM 2 water supply               9
                   EKTM 3 water supply              51
                   Fufulamsuri water supply          1
                   GRUMETI                           6
                   HESAWA                            1
                   Hakwe water supply               10
                   Holili water supply              23
                   I                                 1
                   IKTM 2                            1
                   IKTM 2 water supply               1
                   IKTM 3 water supply               1
                   Ibukoni kimanga water supply      1
                   Iburieni water supply             6
                   Ihum                              1
                   Ikela Wa                         89
                                                  ...
Water authority    Submersible                       1
                   Sui                               1
                   Suwasa water supply               8
                   TWESA                             1
                   Tank fu Mwenge                    1
                   Tank fupi Mwenge                  8
                   Tank refu Kasokola                4
                   Tank refu Mtakuja                 6
                   Tank refu Sitalike                7
                   Tungu water piped scheme          1
                   Tutu                             25
                   UWAMAMA                           4
                   Urambo water supply              15
                   Vumari water supply              11
                   Vunta water supply               11
                   WD                                1
                   Water from DAWASCO               28
                   World Bank                       60
                   World Vision                      8
                   World vision                      1
                   Yongoma                          16
                   Zepalama                          5
                   no scheme                         9
                   pump                              2
                   water supply at Kalebejo          1
Length: 3077, dtype: int64

In [207]:
data.drop('scheme_name',axis=1,inplace=True)

In [208]:
data.groupby(['payment', 'payment_type']).size()

payment                payment_type
never pay              never pay       25348
other                  other            1054
pay annually           annually         3642
pay monthly            monthly          8300
pay per bucket         per bucket       8985
pay when scheme fails  on failure       3914
unknown                unknown          8157
dtype: int64

In [209]:
data.drop('payment',axis=1,inplace=True)

In [210]:
data.groupby(['water_quality', 'quality_group']).size()

water_quality       quality_group
coloured            colored            490
fluoride            fluoride           200
fluoride abandoned  fluoride            17
milky               milky              804
salty               salty             4856
salty abandoned     salty              339
soft                good             50818
unknown             unknown           1876
dtype: int64

In [211]:
data.drop('quality_group',axis=1,inplace=True)

In [212]:
data.groupby(['quantity', 'quantity_group']).size()

quantity      quantity_group
dry           dry                6246
enough        enough            33186
insufficient  insufficient      15129
seasonal      seasonal           4050
unknown       unknown             789
dtype: int64

In [213]:
data.drop('quantity_group',axis=1,inplace=True)

In [214]:
data.groupby(['source', 'source_type', 'source_class']).size()

source                source_type           source_class
dam                   dam                   surface           656
hand dtw              borehole              groundwater       874
lake                  river/lake            surface           765
machine dbh           borehole              groundwater     11075
other                 other                 unknown           212
rainwater harvesting  rainwater harvesting  surface          2295
river                 river/lake            surface          9612
shallow well          shallow well          groundwater     16824
spring                spring                groundwater     17021
unknown               other                 unknown            66
dtype: int64

In [215]:
data.drop('source_type',axis=1,inplace=True)

In [216]:
data.drop('source_class',axis=1,inplace=True)

In [217]:
data.groupby(['waterpoint_type', 'waterpoint_type_group']).size()

waterpoint_type              waterpoint_type_group
cattle trough                cattle trough              116
communal standpipe           communal standpipe       28522
communal standpipe multiple  communal standpipe        6103
dam                          dam                          7
hand pump                    hand pump                17488
improved spring              improved spring            784
other                        other                     6380
dtype: int64

In [218]:
# as they are the same name, drop one of them.(waterpoint_type is more spesific.)
data.drop('waterpoint_type_group',axis=1,inplace=True)

In [219]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 26 columns):
id                     59400 non-null int64
status_group           59400 non-null object
amount_tsh             59400 non-null float64
days_since_recorded    59400 non-null int64
funder                 55765 non-null object
gps_height             59400 non-null float64
installer              55745 non-null object
longitude              59400 non-null float64
latitude               59400 non-null float64
basin                  59400 non-null object
region                 59400 non-null object
district_code          59400 non-null int64
lga                    59400 non-null object
ward                   59400 non-null object
population             59400 non-null float64
public_meeting         56066 non-null object
scheme_management      55523 non-null object
permit                 56344 non-null object
construction_year      59400 non-null float64
extraction_type        59400 non-null object
management             59400 non-null object
payment_type           59400 non-null object
water_quality          59400 non-null object
quantity               59400 non-null object
source                 59400 non-null object
waterpoint_type        59400 non-null object
dtypes: float64(6), int64(3), object(17)
memory usage: 12.2+ MB

In [220]:
data.drop('ward',axis=1,inplace=True)

In [221]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 25 columns):
id                     59400 non-null int64
status_group           59400 non-null object
amount_tsh             59400 non-null float64
days_since_recorded    59400 non-null int64
funder                 55765 non-null object
gps_height             59400 non-null float64
installer              55745 non-null object
longitude              59400 non-null float64
latitude               59400 non-null float64
basin                  59400 non-null object
region                 59400 non-null object
district_code          59400 non-null int64
lga                    59400 non-null object
population             59400 non-null float64
public_meeting         56066 non-null object
scheme_management      55523 non-null object
permit                 56344 non-null object
construction_year      59400 non-null float64
extraction_type        59400 non-null object
management             59400 non-null object
payment_type           59400 non-null object
water_quality          59400 non-null object
quantity               59400 non-null object
source                 59400 non-null object
waterpoint_type        59400 non-null object
dtypes: float64(6), int64(3), object(16)
memory usage: 11.8+ MB

In [222]:
# data.groupby(['installer', 'funder','status_group']).size()

In [223]:
# data.drop('installer',axis=1,inplace=True)
# INSTALLER STAYS

In [224]:
data.isnull().sum()

id                        0
status_group              0
amount_tsh                0
days_since_recorded       0
funder                 3635
gps_height                0
installer              3655
longitude                 0
latitude                  0
basin                     0
region                    0
district_code             0
lga                       0
population                0
public_meeting         3334
scheme_management      3877
permit                 3056
construction_year         0
extraction_type           0
management                0
payment_type              0
water_quality             0
quantity                  0
source                    0
waterpoint_type           0
dtype: int64

In [225]:
data.drop('public_meeting', axis=1, inplace=True)
data.drop('permit', axis=1, inplace=True)

In [226]:
data.isnull().sum()

id                        0
status_group              0
amount_tsh                0
days_since_recorded       0
funder                 3635
gps_height                0
installer              3655
longitude                 0
latitude                  0
basin                     0
region                    0
district_code             0
lga                       0
population                0
scheme_management      3877
construction_year         0
extraction_type           0
management                0
payment_type              0
water_quality             0
quantity                  0
source                    0
waterpoint_type           0
dtype: int64

In [227]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 23 columns):
id                     59400 non-null int64
status_group           59400 non-null object
amount_tsh             59400 non-null float64
days_since_recorded    59400 non-null int64
funder                 55765 non-null object
gps_height             59400 non-null float64
installer              55745 non-null object
longitude              59400 non-null float64
latitude               59400 non-null float64
basin                  59400 non-null object
region                 59400 non-null object
district_code          59400 non-null int64
lga                    59400 non-null object
population             59400 non-null float64
scheme_management      55523 non-null object
construction_year      59400 non-null float64
extraction_type        59400 non-null object
management             59400 non-null object
payment_type           59400 non-null object
water_quality          59400 non-null object
quantity               59400 non-null object
source                 59400 non-null object
waterpoint_type        59400 non-null object
dtypes: float64(6), int64(3), object(14)
memory usage: 10.9+ MB

In [228]:
#For every categorical response, convert the levels to lower case, in case there is random capitalization
data.waterpoint_type = data.waterpoint_type.str.lower()
data.funder = data.funder.str.lower()
data.basin = data.basin.str.lower()
data.region = data.region.str.lower()
data.source = data.source.str.lower()
data.lga = data.lga.str.lower()
data.management = data.management.str.lower()
data.quantity = data.quantity.str.lower()
data.water_quality = data.water_quality.str.lower()
data.payment_type=data.payment_type.str.lower()
data.extraction_type=data.extraction_type.str.lower()

In [229]:
data["funder"].fillna("other", inplace=True)
data["scheme_management"].fillna("other", inplace=True)
data["installer"].fillna("other", inplace=True)
print(data.isnull().sum())
data.info()
data.quantity.head(5)

id                     0
status_group           0
amount_tsh             0
days_since_recorded    0
funder                 0
gps_height             0
installer              0
longitude              0
latitude               0
basin                  0
region                 0
district_code          0
lga                    0
population             0
scheme_management      0
construction_year      0
extraction_type        0
management             0
payment_type           0
water_quality          0
quantity               0
source                 0
waterpoint_type        0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 23 columns):
id                     59400 non-null int64
status_group           59400 non-null object
amount_tsh             59400 non-null float64
days_since_recorded    59400 non-null int64
funder                 59400 non-null object
gps_height             59400 non-null float64
installer              59400 non-null object
longitude              59400 non-null float64
latitude               59400 non-null float64
basin                  59400 non-null object
region                 59400 non-null object
district_code          59400 non-null int64
lga                    59400 non-null object
population             59400 non-null float64
scheme_management      59400 non-null object
construction_year      59400 non-null float64
extraction_type        59400 non-null object
management             59400 non-null object
payment_type           59400 non-null object
water_quality          59400 non-null object
quantity               59400 non-null object
source                 59400 non-null object
waterpoint_type        59400 non-null object
dtypes: float64(6), int64(3), object(14)
memory usage: 10.9+ MB

0          enough
1    insufficient
2          enough
3             dry
4        seasonal
Name: quantity, dtype: object

In [230]:
# Add column named 'status_group_vals' to allow the use of a pivot table to check differences
# between the different funders.

#vals_to_replace = {'functional':2, 'functional needs repair':1, 'non functional':0}
#data['status_group_vals']  = data.status_group.replace(vals_to_replace)

#piv_table = pd.pivot_table(data,index=['funder','status_group'],values='status_group_vals', aggfunc='count')



sorted_funder = data.groupby(['funder']).size().sort_values(ascending=False)
print(sorted_funder)

def funder_wrangler(row):  
    '''Keep top 5 values and set the rest to 'other'''

    if row['funder']=='government of tanzania':
        return 'gov'
    elif row['funder']=='danida':
        return 'danida'
    elif row['funder']=='hesawa':
        return 'hesawa'
    elif row['funder']=='rwssp':
        return 'rwssp'
    elif row['funder']=='world bank':
        return 'world_bank'    
    elif row['funder']=='kkkt':
        return 'kkkt'
    elif row['funder']=='world vision':
        return 'world vision'
    elif row['funder']=='unicef':
        return 'unicef'
    else:
        return 'other'
    
#df['funder'] = df.apply(lambda row: funder_wrangler(row), axis=1)

funder
government of tanzania          9084
other                           3635
danida                          3114
hesawa                          2202
rwssp                           1374
world bank                      1349
kkkt                            1287
world vision                    1246
unicef                          1057
tasaf                            877
district council                 843
dhv                              829
private individual               826
dwsp                             811
0                                777
norad                            765
germany republi                  610
tcrs                             602
ministry of water                590
water                            583
dwe                              484
netherlands                      470
hifab                            450
adb                              448
lga                              442
                                ...
namungo miners                     1
nasan                              1
nassan                             1
natherland                         1
mwita machota                      1
mwita lucas                        1
mwita kichere                      1
mwalimu muhenza                    1
muslimehefen international         1
muslimu society(shia)              1
muwasa                             1
mwakabalula                        1
mwakalinga                         1
mwakifuna                          1
mwalimu  maneromango muhenzi       1
mwalimu omari                      1
mwita                              1
mwamama                            1
mwamvita rajabu                    1
mwanaisha mwidadi                  1
mwanamisi ally                     1
mwanza                             1
mwingereza                         1
mwinjuma mzee                      1
mganga                             1
Length: 1898, dtype: int64

In [231]:
# observation = data.groupby(['installer', 'status_group']).filter(lambda x : pd.Series(['UNICEF']).isin(x['installer']).all()).groupby(['installer', 'status_group']).size()


# to see them all
pd.set_option('display.max_rows', 500)

# get most frequent installers
#sorted_installers = data.groupby(['installer']).size().sort_values(ascending=False)


# this is checked by -> data.groupby(['installer']).size().sort_values(ascending=False)
# as I observed, most of others distribution is normal, so we won't lose valueable data.

# keep the top ones, mark other as "other"
def installer_wrangler(row):
    if row['installer']=='DWE':
        return 'dwe'
    elif row['installer']=='Government':
        return 'gov'
    elif row['installer']=='RWE':
        return 'rwe'
    elif row['installer']=='Commu':
        return 'commu'
    elif row['installer']=='DANIDA':
        return 'danida'
    elif row['installer']=='KKKT':
        return 'kkkt'
    elif row['installer']== 'Hesawa':
        return 'hesawa'
    else:
        return 'other'  

data['installer'] = data.apply(lambda row: installer_wrangler(row), axis=1)

In [232]:
pd.set_option('display.max_rows', 50)
data.isnull().sum()



def scheme_wrangler(row):
    '''Keep top 5 values and set the rest to 'other'. '''
    if row['scheme_management']=='VWC':
        return 'vwc'
    elif row['scheme_management']=='WUG':
        return 'wug'
    elif row['scheme_management']=='Water authority':
        return 'wtr_auth'
    elif row['scheme_management']=='WUA':
        return 'wua'
    elif row['scheme_management']=='Water Board':
        return 'wtr_brd'
    else:
        return 'other'


data.scheme_management.unique()
data.groupby(['scheme_management']).size()

scheme_management
Company              1061
None                    1
Other                 766
Parastatal           1680
Private operator     1063
SWC                    97
Trust                  72
VWC                 36793
WUA                  2883
WUG                  5206
Water Board          2748
Water authority      3153
other                3877
dtype: int64

In [233]:
data['scheme_management'] = data.apply(lambda row: scheme_wrangler(row), axis=1)

In [234]:
data.groupby(['extraction_type']).size()

extraction_type
afridev                       1770
cemo                            90
climax                          32
gravity                      26780
india mark ii                 2400
india mark iii                  98
ksb                           1415
mono                          2865
nira/tanira                   8154
other                         6430
other - mkulima/shinyanga        2
other - play pump               85
other - rope pump              451
other - swn 81                 229
submersible                   4764
swn 80                        3670
walimi                          48
windmill                       117
dtype: int64

In [235]:
#checking final rows
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 23 columns):
id                     59400 non-null int64
status_group           59400 non-null object
amount_tsh             59400 non-null float64
days_since_recorded    59400 non-null int64
funder                 59400 non-null object
gps_height             59400 non-null float64
installer              59400 non-null object
longitude              59400 non-null float64
latitude               59400 non-null float64
basin                  59400 non-null object
region                 59400 non-null object
district_code          59400 non-null int64
lga                    59400 non-null object
population             59400 non-null float64
scheme_management      59400 non-null object
construction_year      59400 non-null float64
extraction_type        59400 non-null object
management             59400 non-null object
payment_type           59400 non-null object
water_quality          59400 non-null object
quantity               59400 non-null object
source                 59400 non-null object
waterpoint_type        59400 non-null object
dtypes: float64(6), int64(3), object(14)
memory usage: 10.9+ MB

In [236]:
# basin, lga, region, ward seems so similiar.
# we dropped ward earlier.
data.groupby(['region'])['status_group'].sum()

# sns.catplot(col='region', x='status_group', data=region_data, kind='bar')

region
arusha           non functionalfunctional needs repairnon funct...
dar es salaam    functionalnon functionalnon functionalnon func...
dodoma           functionalfunctionalfunctional needs repairnon...
iringa           functionalnon functionalnon functionalfunction...
kagera           functionalfunctionalfunctionalfunctionalfuncti...
kigoma           functionalnon functionalfunctional needs repai...
kilimanjaro      functionalfunctionalfunctional needs repairnon...
lindi            functionalnon functionalnon functionalnon func...
manyara          functionalfunctionalfunctionalnon functionalfu...
mara             functionalnon functionalnon functionalnon func...
mbeya            non functionalfunctionalfunctionalnon function...
morogoro         non functionalfunctional needs repairfunctiona...
mtwara           non functionalfunctional needs repairfunctiona...
mwanza           functional needs repairnon functionalnon funct...
pwani            functionalfunctionalfunctionalnon functionalno...
rukwa            functionalnon functionalnon functionalnon func...
ruvuma           functionalfunctional needs repairfunctional ne...
shinyanga        non functionalnon functionalfunctionalfunction...
singida          non functionalfunctionalnon functionalfunction...
tabora           non functionalnon functionalnon functionalfunc...
tanga            functionalfunctionalnon functionalnon function...
Name: status_group, dtype: object

In [237]:
pd.DataFrame(data).to_csv(output_fpath)