<a href="https://colab.research.google.com/github/ayberkuslu/MLProject/blob/master/rfc_xgboost_calisan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('rfc_clean_train.csv')

In [3]:
test = pd.read_csv('rfc_clean_test.csv')

In [4]:
train.shape,test.shape

((59400, 23), (14850, 22))

In [5]:
#drop this unnamed column 
train.drop('Unnamed: 0', axis=1, inplace=True)
test.drop('Unnamed: 0', axis=1, inplace=True)
target=train.pop('status_group')

In [6]:
train['train']=1
test['train']=0
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 59400 non-null  int64
 1   amount_tsh         59400 non-null  float64
 2   funder             59400 non-null  object
 3   gps_height         59400 non-null  float64
 4   installer          59400 non-null  object
 5   longitude          59400 non-null  float64
 6   latitude           59400 non-null  float64
 7   basin              59400 non-null  object
 8   region             59400 non-null  object
 9   district_code      59400 non-null  int64
 10  lga                59400 non-null  object
 11  population         59400 non-null  float64
 12  scheme_management  59400 non-null  object
 13  extraction_type    59400 non-null  object
 14  management         59400 non-null  object
 15  payment_type       59400 non-null  object
 16  water_quality      59400 non-null  object
 17  quantity           59400 non-null  object
 18  source             59400 non-null  object
 19  waterpoint_type    59400 non-null  object
 20  operational_year   59400 non-null  int64
 21  train              59400 non-null  int64
dtypes: float64(5), int64(4), object(13)
memory usage: 10.0+ MB

In [7]:
train.shape,test.shape

((59400, 22), (14850, 22))

In [8]:
combined = pd.concat([train, test])

In [9]:
combined.info()
# combined.drop('construction_year',axis=1,inplace=True)
# combined.drop('date_recorded',axis=1,inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74250 entries, 0 to 14849
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 74250 non-null  int64
 1   amount_tsh         74250 non-null  float64
 2   funder             74250 non-null  object
 3   gps_height         74250 non-null  float64
 4   installer          74250 non-null  object
 5   longitude          74250 non-null  float64
 6   latitude           74250 non-null  float64
 7   basin              74250 non-null  object
 8   region             74250 non-null  object
 9   district_code      74250 non-null  int64
 10  lga                74250 non-null  object
 11  population         74250 non-null  float64
 12  scheme_management  74250 non-null  object
 13  extraction_type    74250 non-null  object
 14  management         74250 non-null  object
 15  payment_type       74250 non-null  object
 16  water_quality      74250 non-null  object
 17  quantity           74250 non-null  object
 18  source             74250 non-null  object
 19  waterpoint_type    74250 non-null  object
 20  operational_year   74250 non-null  int64
 21  train              74250 non-null  int64
dtypes: float64(5), int64(4), object(13)
memory usage: 13.0+ MB

In [10]:
combined['funder'] = pd.factorize(combined['funder'])[0]
combined['scheme_management'] = pd.factorize(combined['scheme_management'])[0]
combined['extraction_type'] = pd.factorize(combined['extraction_type'])[0]
combined['management'] = pd.factorize(combined['management'])[0]
combined['payment_type'] = pd.factorize(combined['payment_type'])[0]
combined['water_quality'] = pd.factorize(combined['water_quality'])[0]
combined['quantity'] = pd.factorize(combined['quantity'])[0]
combined['source'] = pd.factorize(combined['source'])[0]
combined['waterpoint_type'] = pd.factorize(combined['waterpoint_type'])[0]
combined['basin'] = pd.factorize(combined['basin'])[0]
combined['region'] = pd.factorize(combined['region'])[0]
combined['lga'] = pd.factorize(combined['lga'])[0]
combined['district_code'] = pd.factorize(combined['district_code'])[0]
combined['operational_year'] = pd.factorize(combined['operational_year'])[0]
combined['installer'] = pd.factorize(combined['installer'])[0]

combined.district_code.head(5)

0    0
1    1
2    2
3    3
4    4
Name: district_code, dtype: int64

In [11]:
train_df = combined[combined["train"] == 1]
test_df = combined[combined["train"] == 0]
train_df.drop(["train"], axis=1, inplace=True)
train_df.drop(['id'],axis=1, inplace=True)
test_df.drop(["train"], axis=1, inplace=True)
test_ids = test_df['id']

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
#define X train
X = train_df
#y_train indentified at the beginning 
y = target

0        50785
1        51630
2        17168
3        45559
4        49871
         ...
14845    39307
14846    18990
14847    28749
14848    33492
14849    68707
Name: id, Length: 14850, dtype: int64

In [107]:
from sklearn.ensemble import RandomForestClassifier
model_rfc = RandomForestClassifier(n_estimators=1000)

In [108]:
#from sklearn.svm import SVC
#clf = SVC()

In [13]:
from xgboost import XGBClassifier
model = XGBClassifier(objective = 'multi:softmax', booster = 'gbtree', nrounds = 'min.error.idx', 
                      num_class = 4, maximize = False, eval_metric = 'merror', eta = .2,
                      max_depth = 14, colsample_bytree = .4, verbose = 10)

In [110]:
#from sklearn.neighbors import KNeighborsClassifier
#knn=KNeighborsClassifier(n_neighbors=1000)

In [111]:
#from sklearn.ensemble import VotingClassifier
#eclf1 = VotingClassifier(estimators=[('xg', model), ('rf', model_rfc)],weights=[1,2], voting='hard')

In [112]:
# from sklearn.cross_validation import cross_val_score
# cross_val_score(model_rfc, X, y, cv=3)

In [113]:
# model_rfc.fit(X,y)
# X.info()
# importances = model_rfc.feature_importances_
# importances

In [114]:
# importances = model_rfc.feature_importances_
# importances
# indices = np.argsort(importances)[::-1]

# # Print the feature ranking
# print("Feature ranking:")

# for f in range(X.shape[1]):
#     print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

# for f in range(X.shape[1]):
#     print(X.columns[indices[f]],end=', ')

In [115]:
#ranking of features-
#longitude,latitude,gps_height,ward,funder,operational_year,population,

In [14]:
#for xgboost
from sklearn.model_selection import cross_val_score
# print(cross_val_score(model, X, y, cv=3))
model.fit(X,y)
importances = model.feature_importances_
importances
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X.shape[1]):
    print(X.columns[indices[f]],end=', ')

Feature ranking:
quantity, waterpoint_type, extraction_type, payment_type, source, region, management, district_code, lga, basin, water_quality, amount_tsh, scheme_management, latitude, operational_year, installer, longitude, funder, gps_height, population,

In [16]:
#for f in range(X.shape[1]):
 #   print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

test_df

          id  amount_tsh  funder  ...  source  waterpoint_type  operational_year
0      50785     0.00198     163  ...       1                3                25
1      51630     0.00298      20  ...       0                0                14
2      17168     0.00498      25  ...       1                3                 1
3      45559     0.00498     144  ...       5                3                 8
4      49871     0.04998    1037  ...       0                0                14
...      ...         ...     ...  ...     ...              ...               ...
14845  39307     0.00498      11  ...       6                0                40
14846  18990     0.09998     700  ...       5                2                36
14847  28749     0.00498      25  ...       2                0                 1
14848  33492     0.14998      94  ...       6                0                 2
14849  68707     0.04998      20  ...       0                0                19

[14850 rows x 21 columns]

In [118]:
####xg-nrounds=1000-array([ 0.80924242,  0.81217172,  0.81186869])
#xg-max_depth=5-array([ 0.76282828,  0.76823232,  0.76994949])
#xg-max_depth=30-array([ 0.80772727,  0.80782828,  0.805     ])
#model_rfc-array([ 0.80479798,  0.80267677,  0.80207071])
#xg-nrounds=500-array([ 0.80939394,  0.80828283,  0.80777778])
#xg-nrounds=1000-array([ 0.80939394,  0.80828283,  0.80777778])
#xg-max_depth=20-array([ 0.8089899 ,  0.80893939,  0.80848485])
#xg-max_depth=16-array([ 0.80838384,  0.80984848,  0.80742424])
#xg-max_depth=12,nfold=5,array([ 0.80939394,  0.80828283,  0.80777778])
#xg-max_depth=12,nfold=6,array([ 0.80939394,  0.80828283,  0.80777778])
#xg-max_depth=12,nfold=6,nrounds=1200,early_stopping_rounds = 9-

In [19]:
X_test=test_df
# X_text.drop
X_test.drop(['id'],axis=1, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [20]:
# model_rfc.fit(X,y)
y_pred = model.predict(X_test)

In [21]:
# a=X_test['id']
# X_test.drop(['id'],axis=1, inplace=True)
# y_pred = model.predict(X_test)
y_pred

array(['functional', 'functional', 'functional', ..., 'functional',
       'functional', 'non functional'], dtype=object)

In [22]:
y_pred=pd.DataFrame(y_pred)
y_pred['id']=test_ids.astype(int)
y_pred.columns=['status_group','id']
y_pred=y_pred[['id','status_group']]

In [24]:
y_pred

          id    status_group
0      50785      functional
1      51630      functional
2      17168      functional
3      45559  non functional
4      49871      functional
...      ...             ...
14845  39307  non functional
14846  18990      functional
14847  28749      functional
14848  33492      functional
14849  68707  non functional

[14850 rows x 2 columns]

In [25]:
pd.DataFrame(y_pred).to_csv("XGBoostClassifier-Results.csv",index= False)