<a href="https://colab.research.google.com/github/ayberkuslu/MLProject/blob/master/rfc_cleaning_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
# if you are preprocessing test file, change test = True
# Feature selection algorithm will be used in evaluation notebook.

# input-output: test.csv -> rfc_clean_test.csv
# input-output: train.csv + labels.csv -> rfc_clean_train.csv

In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

ModuleNotFoundError: No module named 'seaborn'

# New Section

In [ ]:
test = False # if it is True, then you are preprocessing test file.
true_days_false_years = True # if True, process date as days, else calculate as years.

labels_fpath = "inputs/labels.csv"

if test == True:
    input_fpath = "inputs/test.csv"
    output_fpath = "rfc_clean_test.csv"
    data = pd.read_csv(input_fpath)
else:
    input_fpath = "inputs/train.csv"
    output_fpath = "rfc_clean_train.csv"
    data = pd.read_csv(input_fpath)
    data_values = pd.read_csv(labels_fpath)
    data = data_values.merge(data, on='id')

##status_group-functional,non-functional or needs repair

amount_tsh – Total static head (amount water available to waterpoint)

date_recorded – The date the row was entered

funder – Who funded the well

gps_height – Altitude of the well

installer – Organization that installed the well

longitude – GPS coordinate

latitude – GPS coordinate

wpt_name – Name of the waterpoint if there is one

num_private -No description

basin – Geographic water basin

subvillage – Geographic location

region – Geographic location

region_code – Geographic location (coded)

district_code – Geographic location (coded)

lga – Geographic location

ward – Geographic location

population – Population around the well

public_meeting – True/False

recorded_by – Group entering this row of data

scheme_management – Who operates the water point

scheme_name – Who operates the water point

permit – If the water point is permitted

construction_year – Year the water point was constructed

extraction_type – The kind of extraction the water point uses

extraction_type_group – The kind of extraction the water point uses

extraction_type_class – The kind of extraction the water point uses

management – How the water point is managed

management_group – How the water point is managed

payment – What the water costs

payment_type – What the water costs

water_quality – The quality of the water

quality_group – The quality of the water

quantity – The quantity of water

quantity_group – The quantity of water

source – The source of the water

source_type – The source of the water

source_class – The source of the water

waterpoint_type – The kind of waterpoint

waterpoint_type_group – The kind of waterpoint

In [ ]:
#data.isnull().sum()
#data.population.min()
data['gps_height'].replace(0.0, np.nan, inplace=True)
data['population'].replace(0.0, np.nan, inplace=True)
data['amount_tsh'].replace(0.0, np.nan, inplace=True)
data.isnull().sum()

In [ ]:
data.groupby(['region','permit']).size()

In [ ]:
data["gps_height"].fillna(data.groupby(['region', 'district_code'])["gps_height"].transform("mean"), inplace=True)
data["gps_height"].fillna(data.groupby(['region'])["gps_height"].transform("mean"), inplace=True)
data["gps_height"].fillna(data["gps_height"].mean(), inplace=True)
data["population"].fillna(data.groupby(['region', 'district_code'])["population"].transform("median"), inplace=True)
data["population"].fillna(data.groupby(['region'])["population"].transform("median"), inplace=True)
data["population"].fillna(data["population"].median(), inplace=True)
data["amount_tsh"].fillna(data.groupby(['region', 'district_code'])["amount_tsh"].transform("median"), inplace=True)
data["amount_tsh"].fillna(data.groupby(['region'])["amount_tsh"].transform("median"), inplace=True)
data["amount_tsh"].fillna(data["amount_tsh"].median(), inplace=True)
data.isnull().sum()

In [ ]:
print(data.latitude.max()-data.latitude.min())
print(data.longitude.max()-data.longitude.min())

In [ ]:
features=['amount_tsh', 'gps_height', 'population']
scaler = MinMaxScaler(feature_range=(0,20))
data[features] = scaler.fit_transform(data[features])
data[features].head(20)
data.isnull().sum()

In [97]:
data['longitude'].replace(0.0, np.nan, inplace=True)
data['latitude'].replace(0.0, np.nan, inplace=True)
data['construction_year'].replace(0.0, np.nan, inplace=True)

In [98]:
data.groupby(['district_code', 'region','construction_year']).size()

district_code  region         construction_year
0              dodoma         2001.0                23
1              arusha         1980.0                 2
                              1990.0                23
                              2000.0               140
                              2010.0                24
               dar es salaam  1970.0                24
                              1990.0                 8
                              2000.0                11
                              2010.0                50
               dodoma         2003.0               888
               iringa         1964.0                 5
                              1972.0                 3
                              1974.0                 6
                              1976.0                 2
                              1978.0                13
                              1981.0                 1
                              1982.0                25
                              1983.0                44
                              1984.0                46
                              1985.0                48
                              1986.0                 5
                              1987.0                38
                              1988.0                 5
                              1989.0                30
                              1990.0                50
                                                  ...
62             lindi          2010.0                10
                              2011.0                 6
                              2012.0                 9
63             mtwara         1976.0                17
                              1977.0                 1
                              1978.0                28
                              1979.0                 1
                              1981.0                 1
                              1985.0                 2
                              1986.0                13
                              1989.0                 1
                              1999.0                 2
                              2001.0                 1
                              2004.0                 1
                              2005.0                15
                              2006.0                 4
                              2007.0                 7
                              2008.0                23
                              2009.0                14
                              2010.0                17
                              2011.0                 2
                              2012.0                 8
               pwani          2007.0                37
67             pwani          2007.0                 6
80             shinyanga      2005.0                12
Length: 2313, dtype: int64

In [99]:
data["latitude"].fillna(data.groupby(['region', 'district_code'])["latitude"].transform("mean"), inplace=True)
data["longitude"].fillna(data.groupby(['region', 'district_code'])["longitude"].transform("mean"), inplace=True)
data["longitude"].fillna(data.groupby(['region'])["longitude"].transform("mean"), inplace=True)
data["construction_year"].fillna(data.groupby(['region', 'district_code'])["construction_year"].transform("median"), inplace=True)
data["construction_year"].fillna(data.groupby(['region'])["construction_year"].transform("median"), inplace=True)
data["construction_year"].fillna(data.groupby(['district_code'])["construction_year"].transform("median"), inplace=True)
data["construction_year"].fillna(data["construction_year"].median(), inplace=True)
print(data.isnull().sum())

id                     0
status_group           0
amount_tsh             0
days_since_recorded    0
funder                 0
gps_height             0
installer              0
longitude              0
latitude               0
basin                  0
region                 0
district_code          0
lga                    0
population             0
scheme_management      0
construction_year      0
extraction_type        0
management             0
payment_type           0
water_quality          0
quantity               0
source                 0
waterpoint_type        0
dtype: int64

In [100]:
#if water point is old, it is highly likely to be non functional or needs repair.
#New features were created namely number of days and number of months water point is operational.
print(data.date_recorded.head(5))
print(data.construction_year.head(5))

AttributeError: 'DataFrame' object has no attribute 'date_recorded'

In [ ]:
# date preprocessing
# using as passing years
if true_days_false_years:
    # using as passing days.
    data.date_recorded = pd.datetime(2013, 12, 3) - pd.to_datetime(data.date_recorded)
    # date_recorded dropped in here.
    data.columns = ['days_since_recorded' if x=='date_recorded' else x for x in data.columns]
    data.days_since_recorded = data.days_since_recorded.astype('timedelta64[D]').astype(int)
    print(data.days_since_recorded.describe())
else:
    data['date_recorded'] = pd.to_datetime(data['date_recorded'])
    data.date_recorded.head(5)
    print(data.date_recorded.dt.year.head(5))
    print(data.construction_year.head(5))
    data['operational_year'] = data.date_recorded.dt.year - data.construction_year
    data.operational_year.head(5)
    data.drop('data_recorded', axis=1, inplace=True)

In [ ]:
#DATA Cleaning
waste_features=['wpt_name','num_private','subvillage','region_code','recorded_by']
#since region and region_code are representing the same thing
data.drop(waste_features,axis=1,inplace=True)
print(data.groupby(['management', 'management_group']).size() )
data.drop('management_group',axis=1,inplace=True)

In [ ]:
print(data.groupby(['extraction_type_group','extraction_type_class','extraction_type']).size()   )   
data.drop('extraction_type_group',axis=1,inplace=True)

In [ ]:
data.drop('extraction_type_class',axis=1,inplace=True)

In [ ]:
data.groupby(['scheme_management', 'scheme_name']).size()

In [ ]:
data.drop('scheme_name',axis=1,inplace=True)

In [ ]:
data.groupby(['payment', 'payment_type']).size()

In [ ]:
data.drop('payment',axis=1,inplace=True)

In [ ]:
data.groupby(['water_quality', 'quality_group']).size()

In [ ]:
data.drop('quality_group',axis=1,inplace=True)

In [ ]:
data.groupby(['quantity', 'quantity_group']).size()

In [ ]:
data.drop('quantity_group',axis=1,inplace=True)

In [ ]:
data.groupby(['source', 'source_type', 'source_class']).size()

In [ ]:
data.drop('source_type',axis=1,inplace=True)

In [ ]:
data.drop('source_class',axis=1,inplace=True)

In [ ]:
data.groupby(['waterpoint_type', 'waterpoint_type_group']).size()

In [ ]:
# as they are the same name, drop one of them.(waterpoint_type is more spesific.)
data.drop('waterpoint_type_group',axis=1,inplace=True)

In [ ]:
data.info()

In [ ]:
data.drop('ward',axis=1,inplace=True)

In [ ]:
data.info()

In [ ]:
# data.groupby(['installer', 'funder','status_group']).size()

In [ ]:
# data.drop('installer',axis=1,inplace=True)
# INSTALLER STAYS

In [ ]:
data.isnull().sum()

In [ ]:
data.drop('public_meeting', axis=1, inplace=True)
data.drop('permit', axis=1, inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
data.info()

In [ ]:
#For every categorical response, convert the levels to lower case, in case there is random capitalization
data.waterpoint_type = data.waterpoint_type.str.lower()
data.funder = data.funder.str.lower()
data.basin = data.basin.str.lower()
data.region = data.region.str.lower()
data.source = data.source.str.lower()
data.lga = data.lga.str.lower()
data.management = data.management.str.lower()
data.quantity = data.quantity.str.lower()
data.water_quality = data.water_quality.str.lower()
data.payment_type=data.payment_type.str.lower()
data.extraction_type=data.extraction_type.str.lower()

In [ ]:
data["funder"].fillna("other", inplace=True)
data["scheme_management"].fillna("other", inplace=True)
data["installer"].fillna("other", inplace=True)
print(data.isnull().sum())
data.info()
data.quantity.head(5)

In [ ]:
# Add column named 'status_group_vals' to allow the use of a pivot table to check differences
# between the different funders.

#vals_to_replace = {'functional':2, 'functional needs repair':1, 'non functional':0}
#data['status_group_vals']  = data.status_group.replace(vals_to_replace)

#piv_table = pd.pivot_table(data,index=['funder','status_group'],values='status_group_vals', aggfunc='count')



sorted_funder = data.groupby(['funder']).size().sort_values(ascending=False)
print(sorted_funder)

def funder_wrangler(row):  
    '''Keep top 5 values and set the rest to 'other'''

    if row['funder']=='government of tanzania':
        return 'gov'
    elif row['funder']=='danida':
        return 'danida'
    elif row['funder']=='hesawa':
        return 'hesawa'
    elif row['funder']=='rwssp':
        return 'rwssp'
    elif row['funder']=='world bank':
        return 'world_bank'    
    elif row['funder']=='kkkt':
        return 'kkkt'
    elif row['funder']=='world vision':
        return 'world vision'
    elif row['funder']=='unicef':
        return 'unicef'
    else:
        return 'other'
    
#df['funder'] = df.apply(lambda row: funder_wrangler(row), axis=1)

In [ ]:
# observation = data.groupby(['installer', 'status_group']).filter(lambda x : pd.Series(['UNICEF']).isin(x['installer']).all()).groupby(['installer', 'status_group']).size()


# to see them all
pd.set_option('display.max_rows', 500)

# get most frequent installers
#sorted_installers = data.groupby(['installer']).size().sort_values(ascending=False)


# this is checked by -> data.groupby(['installer']).size().sort_values(ascending=False)
# as I observed, most of others distribution is normal, so we won't lose valueable data.

# keep the top ones, mark other as "other"
def installer_wrangler(row):
    if row['installer']=='DWE':
        return 'dwe'
    elif row['installer']=='Government':
        return 'gov'
    elif row['installer']=='RWE':
        return 'rwe'
    elif row['installer']=='Commu':
        return 'commu'
    elif row['installer']=='DANIDA':
        return 'danida'
    elif row['installer']=='KKKT':
        return 'kkkt'
    elif row['installer']== 'Hesawa':
        return 'hesawa'
    else:
        return 'other'  

data['installer'] = data.apply(lambda row: installer_wrangler(row), axis=1)

In [ ]:
pd.set_option('display.max_rows', 50)
data.isnull().sum()



def scheme_wrangler(row):
    '''Keep top 5 values and set the rest to 'other'. '''
    if row['scheme_management']=='VWC':
        return 'vwc'
    elif row['scheme_management']=='WUG':
        return 'wug'
    elif row['scheme_management']=='Water authority':
        return 'wtr_auth'
    elif row['scheme_management']=='WUA':
        return 'wua'
    elif row['scheme_management']=='Water Board':
        return 'wtr_brd'
    else:
        return 'other'


data.scheme_management.unique()
data.groupby(['scheme_management']).size()

In [ ]:
data['scheme_management'] = data.apply(lambda row: scheme_wrangler(row), axis=1)

In [ ]:
data.groupby(['extraction_type']).size()

In [ ]:
#checking final rows
data.info()

In [ ]:
# basin, lga, region, ward seems so similiar.
# we dropped ward earlier.
region_data = data.groupby(['region'])['status_group'].sum()

sns.catplot(x='region', y='status_group', data=region_data, kind='bar')

In [ ]:
pd.DataFrame(data).to_csv(output_fpath)